p{
    font-size: 30px;
    text-align: center;
    width:68%;
}

button, p{
    display:inline-block;
}

button{
    width:100px;
    height:50px;
    font-size: 30px;
    margin:100px;
}

.right{
    float:right;
    
}

#time{
    display: block;
    width:30px;
    margin-left:49%;
}

.timeButt{
    margin:0;
    margin-left:47%;
}

.start{
    display: none;
}

