
@if (User.Identity.IsAuthenticated)
{
<a href="~/Logout.cshtml">LogOut</a>
}
else
{
<a href="~/Login.cshtml">LogIn</a>
}
<form action="/" method="post">
    <label>Имя пользователя</label>
    <input type="text" id="login"/><br />
    <label>Пароль</label>
    <input type="text" id="password" />
    <button type="submit" id="submit-registration">Enter</button>
</form>

<style>
    #submit-registration{
        padding:5px;
    }
</style>
