@using Epam.Task7.Entities;
@using Epam.Task7.Common;

@if (IsAjax)
{
    var name = Request.Params["name"];
    var year = int.Parse(Request.Params["year"]);
    var month = int.Parse(Request.Params["month"]);
    var day = int.Parse(Request.Params["day"]);
    var id = int.Parse(Request.Params["id"]);

    var userLogic = Dependency.UserLogic;
    var user = new User(name, new DateTime(year, month, day));
    userLogic.Change(id, user);
    userLogic.Save();
    <p>Изменено</p>
}