@{
    /**/

    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "Index";
}

@using Epam.Task7.Entities;
@using Epam.Task7.Common;

@{

    IEnumerable<User> userList = new List<User>();

}

@section Styles{
    <style>
        #submit-menu{
            padding: 5px 10px;
            background-color: #5181B8;
            color: white;
            font-size: 20px;
            border: 1px solid transparent;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        

        select{
            overflow:visible;
        }

        select > option{
            height:10px;
            padding:20px;
        }

    </style>
}

@section Scripts{

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        (function () {
            var $blockResult = $("#result-block");

            $("#main-menu").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    method: "POST",
                    url: "/IndexAjax.cshtml",
                    data: {
                        value: $("#list-menu option:selected").val()
                    },
                    success: function (response) {
                        $blockResult.empty();
                        $blockResult.append(response);
                    }
                })
            })

        })();
    </script>


}




@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admins"))
    {
        <form action="/Index.cshtml" method="post" id="main-menu">
            <select id="list-menu" name="list-menu" size="9">
                <option value="addUser">Добавить пользователя</option>
                <option value="deleteUser">Удалить пользователя</option>
                <option value="userListWithAwards">Список пользователей</option>
                <option value="addNewAward">Добавить новую награду</option>
                <option value="addAwardUser">Добавить награду пользователю из существующих</option>
                <option value="awardList">Список наград</option>
                <option value="changeUser">Изменить информацию о пользователе</option>
                <option value="deleteAward">Удалить награду</option>
                <option value="addPhoto">Добавить фото пользователю</option>
            </select>

            <button id="submit-menu" type="submit" name="submitMenu">Enter</button>
        </form>
    }
    else if (User.IsInRole("User"))
    {
        <form action="/Index.cshtml" method="post" id="main-menu">
            <select id="list-menu" name="list-menu" size="1">
                <option value="userListWithAwards">Список пользователей</option>
            </select>

            <button id="submit-menu" type="submit" name="submitMenu">Enter</button>
        </form>
    }
}
else
{
    <form action="/Index.cshtml" method="post" id="main-menu">
        <select id="list-menu" name="list-menu" size="1">
            <option value="userList">Список пользователей</option>
        </select>

        <button id="submit-menu" type="submit" name="submitMenu">Enter</button>
    </form>
}



<div id="result-block">

</div>



